DB_HOST=localhost
DB_USER=your_username
DB_PASSWORD=your_password

MAIN_DB_NAME=Weekly_Progress_of_Namami_Gange_OngoingProjects
AUDIT_DB_NAME=Audit_Weekly_Progress_of_Namami_Gange_OngoingProjects

USE_LOCAL_HTML=True
